<!DOCTYPE html>
<html>
  <head>
    <title>QuarkCounter</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--

    ,     ,_
    |`\    `;;,            ,;;'
    |  `\    \ '.        .'.'
    |    `\   \  '-""""-' /
    `.     `\ /          |`
      `>    /;   _     _ \
       /   / |       .    ;
      <  (`";\ ()   ~~~  (/_
       ';;\  `,     __ _.-'` )
         >;\          `   _.'
         `;;\          \-'
           ;/           \ _
           |   ,"".     .` \
           |      _|   '   /
            ;    /")     .;-,
             \    /  __   .-'
              \,_/-"`  `-'

    Interested in working on cool projects like this? Bendyworks is hiring: https://bendyworks.com/careers
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-red.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name='version' content='<%= current_app_version %>'>
  </head>

  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout-title">Quark Clicker</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="https://github.com/bendyworks/quark">Source</a>
            <a class="mdl-navigation__link" href="https://github.com/bendyworks/quark/blob/master/README.md">About</a>
            <a class="mdl-navigation__link" href="https://bendyworks.com">Bendyworks</a>
          </nav>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>

      <%= render 'shared/flash' %>

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="content-grid mdl-grid">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
